<!DOCTYPE html>
<html>
   <head>
      <meta charset = "ISO-8859-1" />
      <link href = "css/style.css" rel = "stylesheet"/>
      <title>Spring Boot Application</title>
   </head>
   <body>
<div class="post">
		   
			   <h1 class="emp">Enter USER Data</h1>
			   <form action="/demo/add" method="post">
			   <div>
				   <input type='text' name="name" placeholder="Enter user name">
			   </div>
			   <div>
				   <input type='text' name="email" placeholder="Enter user email ">
			   </div>
			   <div>
				   <input type='text' name="Password" placeholder="Enter user password ">
			   </div>
			   <div>
			   <button type="submit">Click</button>
			   </div>
			   </form>
			   
</div>

	   
	  </html>